TG_TOKEN=replace_me

POSTGRES_DB=kolesa
POSTGRES_USER=kolesa
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432

LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(filename)s - %(levelname)s - %(message)s

KOLESA_TABLE_SQL_PATH=table.sql
KOLESA_CSV_PATH=data/kolesa.csv
